{% extends "base.html" %}

<head>
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>

<body>
{% block navbar_item %}
<li class="nav-item">
    <a class="nav-link" href="{{ '/competitions/{}/matches'.format(competition_id) }}">Matches</a>
</li>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Competition</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Team</th>
                <th scope="col">MP</th>
                <th scope="col">Pts</th>
                <th scope="col">W</th>
                <th scope="col">D</th>
                <th scope="col">L</th>
                <th scope="col">GD</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for team in teams %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>
                    <a href="{{ '/teams/{}'.format(team.id) }}" style="color:black">
                        {{ team.name }}
                    </a>
                </td>
                <td>{{ team.played_matches }}</td>
                <td>{{ team.points }}</td>
                <td>{{ team.won }}</td>
                <td>{{ team.drawn }}</td>
                <td>{{ team.lost }}</td>
                <td>{{ team.scored - team.conceded }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

</body>