{% extends "base.html" %}
<head>
    {% block head %}
        {{ super() }}
    {% endblock %}
</head>

<body>
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Competitions</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                {% for competition in competitions %}
                <a href="{{'/competitions/{}'.format(competition['id']) }}" class="list-group-item list-group-item-action">
                    {{ competition['name'] }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>